<section class="auth-form">
  @if (isLoading) {
  <div class="loader-container">
    <app-loader />
  </div>
  }
  @if (error) {
  <app-alert class="alert alert-danger">{{error}}</app-alert>
  }
  <form [formGroup]="form" (ngSubmit)="onSignup()">
    <div class="input">
      <label for="email">Your E-Mail</label>
      <input type="email" id="email" formControlName="email">
    </div>
    <div class="input">
      <label for="name">Your Name</label>
      <input type="text" id="name" formControlName="name">
    </div>
    <div class="input">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password">
    </div>
    <div class="input">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword">
    </div>
    <button appButton design="raised" type="submit" [disabled]="isLoading">Signup</button>
  </form>
</section>